main{
  min-height: 100vh;
  width: 100%;
}
header{
  /* background: #000; */
  color: #2348C8;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 15vh;
  width: 100%;
}
section{
  width: 100%;
  height: 85vh;
}
.entracom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.entracom button{
  width: 40%;
  height: 6vh;
  border-radius: 20px;
  border: none;
  font-size: 1.1em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #F5F9FE;
  color: #7D8295;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
img{
  width: 15%;
  border-radius: 5px;
  margin: 6%;
}
.divisao{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #E6EBEF;
}
.ou{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000000;
  margin: 3%;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card input{
  width: 80%;
  height: 6vh;
  border: none;
  background: #F5F9FE;
  font-size: 1.1em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-left: 7%;
  margin-top: 2vh;
  border-radius: 15px;
}
.card input:focus{
  border: 3px solid #6789FD;
  box-shadow: 0 0 0 0;
  outline: 0;
}
.card button{
  width: 80%;
  margin-top: 5vh;
  height: 6vh;
  border-radius: 10px;
  border: none;
  background: #3461FD;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
}